absl-py==1.0.0
altair==4.2.0
altgraph==0.17.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
born==1.6.0
bs4==0.0.1
buildozer==1.3.0
cachetools==5.0.0
Calculator==1.1.0
cattrs==1.10.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
comtypes==1.1.11
cycler==0.11.0
Cython==0.29.19
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
django-os-geocoder==0.1.6
docopt==0.6.2
docutils==0.18.1
easyocr==1.4.2
entrypoints==0.4
executing==0.8.3
ez-setup==0.9
fastjsonschema==2.15.3
ffmpeg-python==0.2.0
filelock==3.6.0
Flask==2.1.1
flatbuffers==2.0
fonttools==4.32.0
future==0.18.2
gast==0.5.3
geographiclib==1.52
geojson==2.5.0
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.27
google==3.0.0
google-auth==2.6.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GoogleImageScrapper @ file:///C:/Users/kamal/Downloads/GoogleImageScrapper-0.1.0-py3-none-any.whl
googletrans==3.1.0a0
grpcio==1.43.0
grpcio-tools==1.43.0
gTTS==2.2.4
h11==0.9.0
h2==3.2.0
h5py==3.6.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.18.0
importlib-metadata==4.11.3
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jaraco.context==4.1.1
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
Js2Py==0.71
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core==4.9.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kivymd==0.104.2
kiwisolver==1.4.2
libclang==13.0.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.12.0
MouseInfo==0.1.3
mpl-finance==0.10.1
mplfinance==0.12.8b9
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8
neuralintents==0.0.4
nltk==3.7
notebook==6.4.10
numpy==1.22.3
oauthlib==3.2.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
pefile==2021.9.3
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pipwin==0.5.2
platformdirs==2.5.1
playsound==1.2.2
progressbar==2.5
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/kamal/pipwin/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
PyAutoGUI==0.9.53
pycparser==2.21
pydeck==0.7.1
PyGetWindow==0.0.9
Pygments==2.11.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyjokes==0.6.0
pyjsparser==2.7.1
Pympler==1.0.1
PyMsgBox==1.0.9
pyowm==3.3.0
pyparsing==3.0.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pySmartDL==1.3.4
PySocks==1.7.1
pytesseract==0.3.9
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.6
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyWavelets==1.3.0
pywhatkit==5.3
pywikihow==0.5.7
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==6.0
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
requests-cache==0.9.3
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
sea==2.3.2
seaborn==0.11.2
self==2020.12.3
semver==2.13.0
Send2Trash==1.8.0
sh==1.14.2
simplecalculator==0.0.4
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2
South==1.0.2
SpeechRecognition==3.8.1
speedtest==0.0.1
stack-data==0.2.0
streamlit==1.8.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.3
tf-estimator-nightly==2.8.0.dev2021122109
tflearn==0.5.0
threadpoolctl==3.1.0
tifffile==2022.4.28
tinycss2==1.1.1
tkcalendar==1.6.1
toml==0.10.2
toolz==0.11.2
torch==1.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
trans==2.1.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
url-normalize==1.4.3
urllib3==1.26.9
validators==0.18.2
virtualenv==20.14.0
watchdog==2.1.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.1
widgetsnbextension==3.6.0
wikipedia==1.4.0
windows-curses==2.3.0
WMI==1.5.1
wolframalpha==5.0.0
wrapt==1.14.0
xmltodict==0.12.0
zipp==3.8.0
